# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/
ENV/
*.env

# Output and Logs
output/
*.log

# Model weights (separate download)
**/*.weights

# IDE/OS Files
.vscode/
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/
